<div class="table">
  <mat-card appearance="outlined">
    <div class="column-flex mat-elevation-z8">
      <mat-card-header>
        <mat-toolbar color="primary"> Cursos Disponíveis </mat-toolbar>
      </mat-card-header>
      <mat-card-content>
        <app-table-courses
          *ngIf="courses$ | async as courses; else loader"
          [courses]="courses"
          (add)="onAdd()"
          (edit)="onEdit($event)"
          (delete)="openDeleteDialog($event)"
        ></app-table-courses>

        <ng-template #loader>
          <app-loader></app-loader>
        </ng-template>
      </mat-card-content>
    </div>
  </mat-card>
</div>
