// .loader-overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   z-index: 9999;
//   background-color: rgba(0, 0, 0, 0.3);
// }

// .loader-container {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.3);
}
